:root {
  --main-bg-color: #d3d8de;
  --main-fg-color: #5f6b7c;
  --main-fg2-color: #ABB3BF;
}

::-webkit-scrollbar {
  scrollbar-width: thin;
}

::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
}

::-webkit-scrollbar-thumb {
  background-color: var(--main-fg2-color);
  border-radius: 20px;
  border: 30px !important;
  border-style: solid;
  border-color: transparent;
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--main-fg-color);
  border: 30px !important;
}
